{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>

.inactive{
  display: none;
}

.modal-dialog{
  position: fixed;
  top:185px; 
  left: 0; 
  bottom: 0; 
  right: 0;
  /* background: rgba(0, 0, 0, 0.8); */
  z-index: 998;
}

.modal-container{
  width: 350px;
  height: 410px;
  margin: 150px auto;
  border-radius: 10px;
  background-color: #f8f8f8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.modal-title{
  text-align: left;
  padding: 16px;
}

.modal-input{
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
form  input, textarea{
  border: 1px solid #e5e5e5;
}
.modal-input input{
  width: 250px;
  height: 40px;
}

.modal-text{
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.modal-text textarea{
  width: 250px;
}


.modal-screen{
  text-align: center;
  width: 100%;
  height: 100px;
}

.modal-screen p{
  text-align: left;
  padding: 16px;
}
.fileUploadSize{
  width: 250px;
  height: 40px;
  border: 1px solid #e5e5e5;
  margin: 0 auto;
  line-height: 40px;
}

.fileUploadSize label{
  justify-content: space-between;
}

.modal-bnt{
  text-align: center;
  margin-top: 20px;
}

.modal-send-bnt,
.modal-close{
  width: 80px;
  height: 30px;
}

.modal-send-bnt{
  background: black;
  color: #fff;
}



#modal-filter{
    	background-image : url('/static/assets/images/icon-filter.png');
        background-repeat : no-repeat;
        background-size : 25px;
}




label {
display: inline-block;
padding: 5px;
position: relative;
padding-left: 20px;
}

label input {
display: none;
}

label span {
border: 1px solid #ccc;
width: 100%;
height: 100%;

line-height: 1;
text-align: center;
left: 0;
top: 50%;
margin-top: -7.5px;
display: flex;
justify-content: center;

border: 1px solid rgb(223, 223, 223);
border-radius: 30px;
background-color: rgb(255, 255, 255);

font-size: 14px;
font-weight: 400;

/* -webkit-box-align: center; */
align-items: center;
/* -webkit-box-pack: center; */
user-select: none;

}

input:checked+span {
background: rgb(50, 108, 249);
border-color: rgb(50, 108, 249);
color: rgb(255, 255, 255);
}


.hYNqrz {
    width: 116px;
    height: 38px;
    margin-top: 8px;
    margin-left: 8px;
    position: relative;
}

/* .hYNqrz > input[type="checkbox"] {
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
} */


.hYNqrz > p {
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}




/* 99999999999990000000000000000 */


.middle_cfee {
  position: relative;
  width: 100%;
  max-width: 500px;
}


.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}

.slider > .track_cfee {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c6c6c6;
}

.slider > .range_cfee {
  position: absolute;
  z-index: 2;
  left: 0%;
  right: 0%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: rgb(50, 108, 249);
}

.slider > .thumb_cfee {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: rgb(157 157 157 / 20%) 0px 2px 5px 0px;
  border: 1px solid rgb(237, 237, 237);
}

.slider > .thumb_cfee.left_cfee {
  left: 0%;
  transform: translate(-5px, -10px);
}
.slider > .thumb_cfee.right_cfee {
  right: 0%;
  transform: translate(15px, -10px);
}

input[type="range"] {
  position: absolute;
  /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
  /* 겹쳐진 두 thumb를 모두 활성화 */
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  cursor: pointer;
  /* appearance를 해야 위의 스타일들을 볼 수 있음 */
  -webkit-appearance: none;
}



.middle_age {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.slider > .track_age {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c6c6c6;
}

.slider > .range_age {
  position: absolute;
  z-index: 2;
  left: 0%;
  right: 0%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: rgb(50, 108, 249);
}

.slider > .thumb_age {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: rgb(157 157 157 / 20%) 0px 2px 5px 0px;
  border: 1px solid rgb(237, 237, 237);
}

.slider > .thumb_age.left_age {
  left: 0%;
  transform: translate(-15px, -10px);
}
.slider > .thumb_age.right_age {
  right: 0%;
  transform: translate(15px, -10px);
}

input[type="range"]::-webkit-slider-thumb_age {
  /* 겹쳐진 두 thumb를 모두 활성화 */
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  cursor: pointer;
  /* appearance를 해야 위의 스타일들을 볼 수 있음 */
  -webkit-appearance: none;
}



.fixed-nav {
    position: fixed;
    z-index: 4;
    width: 96.2%;
    padding-top: 0px;
    /* box-shadow: 0 5px rgba(0, 0, 0, 0.1); */
  }


@media only screen and (max-width: 575px)
{

}

</style>

{% endblock stylesheets %}
{% block content %}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-content" style="overflow-x: hidden;">

    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ grid ] start -->
      <div class="col-sm-12">

            <div id="filter-bar" class="card" >
              <!-- active show 이용해서 정렬값 정렬하기. ==> 30일추천, 영상초이, 프로카운트 -->
              <div class="card-header" style="padding: 10px 25px">
                <h5 style="font-size: 20px; margin-top: 0.8rem;">프로젝트</h5>
                <input type="button"
                  style="margin-left: 20px;  background-position: center; border-color: #000000; float: right;"
                  id="modal-filter" class="btn  btn-outline-primary">

              
                <ul class="nav nav-pills nav-fill mt-3  pb-3" style="margin-top: 2rem;" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" href="#pills-all" role="tab"
                      aria-controls="pills-all" aria-selected="true"><i class="feather icon-film m-r-5"></i> 전체</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab"
                      aria-controls="pills-profile" aria-selected="false"><i class="feather icon-file-text m-r-5"></i>
                      셀럽건</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab"
                      aria-controls="pills-contact" aria-selected="false"><i class="feather icon-mail m-r-5"></i>
                      모델건</a>
                  </li>
                  <!-- <li class="nav-item">
                                <a class="nav-link" id="pills-news-tab" data-bs-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false"><i class="feather icon-monitor m-r-5"></i> Newslatter</a>
                            </li> -->
                </ul>
              </div>

              
            </div>



            <div class="card">
              <div class="card-body" style="padding: 0px">

                <!-- --------------------------------------------------------------------------------- -->
            <!--  modal창  START -->

            <form method="GET" action="/projects">
              <div class="modal-dialog inactive" role="document">
                <form method="GET" action="/projects">
                  <div class="modal-content" style="overflow-x: hidden; height:550px;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalPopoversLabel">검색 필터</h5>
                    </div>


                    <div class="modal-body">

                      <h6>담당팀</h6>
                      <select id="select_team" class="btn  btn-outline-primary dropdown-toggle" style="margin-bottom: 12px;"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% for team in team_list %}
                          <option value={{team}}>{{team}}</option>
                        {% endfor %}
                       
                      </select>

                      <input type="hidden" id="team" name="team" value='All' />

                      <h6>프로젝트명</h6>
                      <div class="input-group mb-3">
                        <input type="text" name="prname" class="form-control" placeholder="프로젝트명" value="">
                      </div>

                      <h6>광고인</h6>
                      <div class="input-group mb-3">
                        <input type="text" name="cfowner" class="form-control" placeholder="광고인명" value="" >
                      </div>

                      <h6>거래처</h6>
                      <div class="input-group mb-3">
                        <input type="text" name="cfco" class="form-control" placeholder="거래처명" value="" >
                      </div>

                      <!-- 진행 년도 Start -->
                      <h6>진행년도</h6>

                      <span style="margin-left: 10px" id="min_left_pryear" class="min_value_pryear">2000 ~ </span>
                      <span id="max_left_pryear" class="max_value_pryear">2022</span><br><br>
                      
                      <div class="middle_pryear">
                        <div style="width: 100%;">

                         <!-- 진짜 슬라이더 -->
                         <input type="range" id="input-left_pryear" min="2000" step="1" max="2022" value="2000" />
                         <input type="range" id="input-right_pryear" min="2000" step="1" max="2022" value="2022" />
                         <input type="hidden" id="pryear" name="pryear" value="2000%2022" >

                         <!-- 커스텀 슬라이더 -->
                         <div class="slider">
                           <div class="track_cfee"></div>
                           <div class="range_cfee"></div>
                           <div class="thumb_cfee left_cfee"></div>
                           <div class="thumb_cfee right_cfee"></div>
                         </div>
                        </div>
                      </div>
                      <!-- 진행년도 END-->


                      <hr>

                      <h6>레디 진행 소속사</h6>
                      <div class="input-group mb-3">
                        <input type="text" name="entertainment" class="form-control" placeholder="소속사명" value="" >
                      </div>


                    </div>

                    <div class="modal-footer"
                      style="position: sticky; bottom: 0;  z-index: 20; background-color: white;">
                      <button type="button" id="modal-close" class="btn  btn-secondary" data-dismiss="modal">취소</button>
                      <button style="width: 80%;" type="submit" class="btn  btn-primary">적용하기</button>
                    </div>

                  </div>
                </form>
              </div>
            </form>
            <!-- modal 창 END -->
            <!-- --------------------------------------------------------------------------------- -->

                <div class="card-body p-0">
                  <div class="tab-content" id="pills-tabContent">

                    
                    
                    <div class="tab-pane fade show active" id="pills-all" role="tabpanel"
                      aria-labelledby="pills-all-tab">
                      <div class="list-grid" >
                      <div class="table-responsive" >
                        <div class="customer-scroll">

                          <table class="table table-hover m-b-0">
                            <thead>
                              <tr>
                                <th ><span>등록일</span></th>
                                <th ><span>프로젝트명</span></th>
                                <th style="width: 100px;"><span>광고주</span></th>
                                <th><span>광고회사</span></th>
                                <th style="width: 100px;"><span>온에어</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for project in projects %}
                              
                                <tr>
                                  
                                  {% if project.seleb == 'V' %}
                                    <td>
                                      <a href="/projects/{{project.code}}" target="_blank" style="color: black;">
                                        {{project.date}}<br>{{project.teamtag}}<br><b style="color: rgb(180, 135, 135);">셀럽</b>
                                        {% if project.lastok == 'OK' %}
                                          <br><b style="color: blue;">완료</b>
                                        {% elif project.cancel == 'OK' %}
                                          <br><b style="color: rgb(255, 0, 0);">캔슬</b>
                                        {% elif project.holding == 'OK' %}
                                          <br><b style="color: rgb(174, 0, 255);">홀딩</b>
                                        {% endif %}
                                      </a>
                                    </td>
                                  {% else %}
                                    <td>
                                      <a href="/projects/{{project.code}}" target="_blank" style="color: black;">
                                        {{project.date}}<br>{{project.teamtag}}
                                        {% if project.lastok == 'OK' %}
                                          <br><b style="color: blue;">완료</b>
                                        {% elif project.cancel == 'OK' %}
                                          <br><b style="color: rgb(255, 0, 0);">캔슬</b>
                                        {% elif project.holding == 'OK' %}
                                          <br><b style="color: rgb(174, 0, 255);">홀딩</b>
                                        {% endif %}
                                      </a>
                                    </td>
                                  {% endif %}
                                  
                                  <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.prname}}</a></td>
                                  <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.cfowner}}</a></td>
                                  <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.cfco}}</a></td>
                                  <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.onairck}}</a></td>

                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <div class="list-grid" >
                      <div class="table-responsive" style="margin: 0 5px;">
                        <div class="customer-scroll1">
                          <table class="table table-hover m-b-0">
                            <thead>
                              <tr>
                                <th><span>등록일</span></th>
                                <th><span>프로젝트명</span></th>
                                <th><span>광고주</span></th>
                                <th><span>광고회사</span></th>
                                <th><span>온에어</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for project in projects %}
                                {% if project.seleb == 'V' %}
                                  
                                  <tr>
                                    <td>
                                      <a href="/projects/{{project.code}}" target="_blank" style="color: black;">
                                        {{project.date}}<br>{{project.teamtag}}<br><b style="color: rgb(180, 135, 135);">셀럽</b>
                                        {% if project.lastok == 'OK' %}
                                          <br><b style="color: blue;">완료</b>
                                        {% elif project.cancel == 'OK' %}
                                          <br><b style="color: rgb(255, 0, 0);">캔슬</b>
                                        {% elif project.holding == 'OK' %}
                                          <br><b style="color: rgb(174, 0, 255);">홀딩</b>
                                        {% endif %}
                                      </a>
                                    </td>
                                    
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.prname}}</a></td>
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.cfowner}}</a></td>
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.cfco}}</a></td>
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.onairck}}</a></td>

                                  </tr>
                                {% endif %}
                              {% endfor %}

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                      <div class="list-grid">
                      <div class="table-responsive" style="margin: 0 5px;">
                        <div class="customer-scroll2">
                          <table class="table table-hover m-b-0">
                            <thead>
                              <tr>
                                <th><span>등록일</span></th>
                                <th><span>프로젝트명</span></th>
                                <th><span>광고주</span></th>
                                <th><span>광고회사</span></th>
                                <th><span>온에어</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for project in projects %}
                                {% if project.seleb == '' %}

                                  <tr>
                                    <td>
                                      <a href="/projects/{{project.code}}" target="_blank" style="color: black;">
                                        {{project.date}}<br>{{project.teamtag}}<br>
                                        {% if project.lastok == 'OK' %}
                                          <br><b style="color: blue;">완료</b>
                                        {% elif project.cancel == 'OK' %}
                                          <br><b style="color: rgb(255, 0, 0);">캔슬</b>
                                        {% elif project.holding == 'OK' %}
                                          <br><b style="color: rgb(174, 0, 255);">홀딩</b>
                                        {% endif %}
                                      </a>
                                    </td>
                                    
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.prname}}</a></td>
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.cfowner}}</a></td>
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.cfco}}</a></td>
                                    <td><a href="/projects/{{project.code}}" target="_blank" style="color: black;">{{project.onairck}}</a></td>

                                  </tr>
                                {% endif %}
                              {% endfor %}

                            </tbody>
                          </table>
                        </div>
                      </div>
                      </div>
                    </div>
                    

                  </div>
                </div>
              </div>
            </div>
            <!-- Customer overview end -->





















          </div>
        </div>




      </div>
    </div>
  </div>
  <!-- [ grid ] end -->
</div>
<!-- [ Main Content ] end -->
</div>
</div>
<!-- [ Main Content ] end -->




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<!-- <script src="/static/assets/js/plugins/apexcharts.min.js"></script> -->

<!-- custom-chart js -->


<script src="/static/assets/js/pages/dashboard-main.js"></script>
    
<script src="/static/assets/js/pages/modal-filter-project.js"></script>



{% endblock javascripts %}