    
    <script src="/static/assets/js/plugins/popper.min.js"></script>
    <script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/static/assets/js/pcoded.js"></script>

    <!-- 
    <script src="https://appsrv1-147a1.kxcdn.com/gradient/js/vendor-all.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/gradient/js/plugins/bootstrap.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/gradient/js/pcoded.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/gradient/js/plugins/apexcharts.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/gradient/js/pages/dashboard-main.js"></script> -->
    <!-- <script src="/static/assets/js/pcoded.js"></script> -->
    