
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div
			class="navbar-wrapper  ">
			<div class="navbar-content scroll-div "
				>
				<ul class="nav pcoded-inner-navbar ">
					<!-- <li class="nav-item pcoded-menu-caption">
						<label>메인페이지</label>
					</li> -->
					<li class="nav-item">
						<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
								class="pcoded-mtext">메인페이지</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>모델</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
								class="pcoded-mtext">모델 검색</span></a>
						<ul class="pcoded-submenu">
							<!-- <li><a href="/auth-signup.html" target="_blank">셀럽</a></li> -->
							<li id="tab-celeb"><a href="/search?category=celeb" >셀럽</a></li>
							<li id="tab-sunok"><a href="/search?category=sunok" >순옥스타</a></li>
							<li id="tab-kmodel"><a href="/search?category=kmodels" >K모델</a></li>
							<li id="tab-search"><a href="/search?" >단순검색</a></li>

						</ul>
					</li>

					

				
					<li class="nav-item pcoded-menu-caption">
						<label>프로젝트</label>
					</li>
					<li class="nav-item">
						<a href="/projects" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-feather"></i></span><span class="pcoded-mtext">프로젝트 검색</span></a>
					</li>
					<!-- <li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
								class="pcoded-mtext">프로젝트 검색</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/auth-signup.html" target="_blank">프로젝트 검색</a></li>
							<li><a href="/auth-signin.html" target="_blank">레디진행 이력</a></li>
						</ul>
					</li> -->
					<!-- <li class="nav-item pcoded-menu-caption">
						<label>Other</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span
								class="pcoded-mtext">Menu levels</span></a>
						<ul class="pcoded-submenu">
							<li><a href="#">Menu Level 2.1</a></li>
							<li class="pcoded-hasmenu">
								<a href="#">Menu level 2.2</a>
								<ul class="pcoded-submenu">
									<li><a href="#">Menu level 3.1</a></li>
									<li><a href="#">Menu level 3.2</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li> -->
				</ul>
				
				
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
    