    <div class="sidebar" >
      <div class="sidebar-wrapper">
        <div class="logo">
       
          <a href = '/'>
            <label class="simple-text logo-normal"> Mobile TMS</label>
          </a>
        </div>

        <ul class="nav" >
          <li class="{% if 'index' in segment %} active {% endif %}">

            <form method="GET" action="/filter" >

              <li style='display:none'>
                검색 기간<br>
                <input type='date' name='s_date' id='date1' value='2022-02-01'/>
                <input type='date' name='e_date' id='date2' value='2022-05-01'/><br><br>
              </li>
              
              성별<br>
              <label><input type="checkbox" name="gender_m" value="man" checked> 남자</label>
              <label><input type="checkbox" name="gender_w" value="woman" checked> 여자</label> <br><br>
            
              연령<br>
              <input  type="text" id = 's_age' name="s_age" style="width:40%; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"> ~ <input  type="text" id = 'e_age' name="e_age"  style=" width:40%; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"><br><br>
              <label><input id = 'ages_10' type="checkbox" name="chk_age" value="10" checked> 10대</label>
              <label><input id = 'ages_20' type="checkbox" name="chk_age" value="20" checked> 20대</label>
              <label><input id = 'ages_30' type="checkbox" name="chk_age" value="30" checked> 30대</label>
              <label><input id = 'ages_40' type="checkbox" name="chk_age" value="40" checked> 40대</label>
              <label><input id = 'ages_50' type="checkbox" name="chk_age" value="50" checked> 50대 이상</label>
              
              
             
              <br> <br>

              <label>구분</label><br>
              <label><input type="checkbox" name="chk_model" value="not_tc"> 모델</label>
              <label><input type="checkbox" name="chk_celeb" value="tc"> 셀럽</label> <br><br>

            
              
              

              <div class='chu' style="display:none">

                <label> 알파모델료</label><br>
                <input type="text" name="alpha_s_fee" value = 0 style="width:40px"> ~ <input type="text" name="alpha_e_fee" value = 600 style="width:40px"><br><br>
                <label><input type="checkbox" name="alpha_fee" id="alpha_fees" value="0100"> 상훈페이</label>
                <label><input type="checkbox" name="alpha_fee" value="0300"> 150~300</label><br>
                <label><input type="checkbox" name="alpha_fee" value="0500"> 350~500</label>
                <label><input type="checkbox" name="alpha_fee" value="1000"> 550~1000</label>
                <label><input type="checkbox" name="alpha_fee" value="2000"> 1100~1500</label>
                <label><input type="checkbox" name="alpha_fee" value="noname"> 1600~2000</label>
                <label><input type="checkbox" name="alpha_fee" value="6000"> 2100~4000</label>
                <label><input type="checkbox" name="alpha_fee" value="8000"> 4100~</label><br><br>

                추천<br>
                이미지 <input  type="text" name="s_img" value = 0 style="width:40px; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"> <input  type="text" name="e_img" value = 100 style="width:40px; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"><br>
                호감도 <input  ype="text" name="s_fav" value = 0 style="width:40px; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"> <input  type="text" name="e_fav"  value = 100 style="width:40px; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"><br>
                연기력 <input  type="text" name="s_act" value = 0 style="width:40px; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"> <input  type="text" name="e_act" value = 0  style="width:40px; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;"> 
                
                <br><br>
                정렬<br>
                <label><input type="checkbox" name="sort_thrdays" value="thrdays"> 30일추천</label>
                <label><input type="checkbox" name="sort_movchoi" value="movchoi"> 영상초이</label>
                <label><input type="checkbox" name="sort_proc" value="proc"> 프로카운트</label> <br>


                <input type="checkbox" name="btn_echar" style="background-color: #344675; color: #ffffff; margin-top: 10px; " />이케아<br><br>

                <div  class="check-list_echar"  style="display:none;  ">
                  <ul >
                    <li><input type="checkbox" />숏컷/단발 여자 </li>
                    <li><input type="checkbox" />장발 남자</li>
                    <li><input type="checkbox" />민머리 남자 </li>
                    <li><input type="checkbox" />탈모 남자 </li>
                    <li><input type="checkbox" />쌍둥이 </li>
                    <li><input type="checkbox" />혼혈 </li>
                    <li><input type="checkbox" />주근깨</li>
                    <hr color = 'white' size='7px' width='100%' align='left'> 
                    <li><input type="checkbox" />전문 헤어/손/발 모델</li>
                    <li><input type="checkbox" />헐크 / 바디</li>
                    <li><input type="checkbox" />뚱뚱</li>
                    <li><input type="checkbox" />코믹/엽기/오타쿠</li>
                    <li><input type="checkbox" />타투/피어싱</li>
                    <hr color = 'white' size='7px' width='100%' align='left'> 
                    <li><input type="checkbox" />열정</li>
                    <li><input type="checkbox" />중성매력</li>
                    <li><input type="checkbox" />닮은꼴</li>
                    <li><input type="checkbox" />쌘캐/독캐</li>
                    <li><input type="checkbox" />헤어염색/핑키/할리퀸</li>
                    <hr color = 'white' size='7px' width='100%' align='left'> 
                    <li><input type="checkbox" />사투리</li>
                    <li><input type="checkbox" />보이스</li>
                  </ul>
                 
                </div>

                <input type="checkbox" name="btn_rchar" style="background-color: #344675; color: #ffffff; " />레케아<br><br>

                <div  class="check-list_rchar"  style="display:none;  ">
                  <ul class="rchar" style=" margin: auto;">
                    <li><input type="checkbox"/>이모모델 </li>
                    <li><input type="checkbox" />실제가족</li>
                    <li><input type="checkbox" />유아엄빠OK </li>
                    <li><input type="checkbox" />갤럭시 사용 </li>
                    <li><input type="checkbox" />아이폰 노출이력</li>
                    <li><input type="checkbox" />아이폰 사용(갤럭시교체O)</li>
                    <li><input type="checkbox" />아이폰 사용(갤럭시교체X)</li>
                    <hr color = 'white' size='7px' width='100%' align='left'> 
                    <li><input type="checkbox"/>업군A (DJ,밴드,음악관련) </li>
                    <li><input type="checkbox"/>업군B (캘리,공방,아트관련) </li>
                    <li><input type="checkbox"/>업군C (발레,무용,요가,댄서) </li>
                    <li><input type="checkbox"/>업군D (레이싱/나레이터) </li>
                    <li><input type="checkbox"/>업군E (뮤지컬) </li>
                    <li><input type="checkbox"/>업군F (구기종목) </li>
                    <li><input type="checkbox"/>한국 전통악기 </li>
                    <hr color = 'white' size='7px' width='100%' align='left'> 
                    <li><input type="checkbox"/>익스트림스포츠 </li>
                    <li><input type="checkbox"/>스키, 스케이트, 보드 </li>
                    <li><input type="checkbox"/>바이크</li>
                    <li><input type="checkbox"/>파쿠르</li>
                    <li><input type="checkbox"/>태권도,유도,격투기,무술</li>
                    <li><input type="checkbox"/>모델골프</li>
                    <li><input type="checkbox"/>서핑</li>
                    <li><input type="checkbox"/>외국어</li>
                    <li><input type="checkbox"/>마임</li>
                    <li><input type="checkbox"/>운전면허</li>
                    <li><input type="checkbox"/>감독선호모델</li>
                  </ul>
                  
                </div>

                <br><br>
              </div>
              <div class='star' style="display:none">

                <label> 셀럽 모델료</label> <br>
                <input type="text" name="s_fee" value = 0.0 style="width:40px"> ~ <input type="text" name="e_fee" value = 5 style="width:40px; margin-bottom:10px"><br>

                <label><input type="checkbox" name="sort_thrdays" value="thrdays"> 전체</label>
                <label><input type="checkbox" name="sort_thrdays" value="thrdays"> ~1억</label>
                <label><input type="checkbox" name="sort_thrdays" value="thrdays"> 1억~4억</label>
                <label><input type="checkbox" name="sort_thrdays" value="thrdays"> 4억~</label>
                <label><input type="checkbox" name="sort_thrdays" value="thrdays"> X포함</label>

                <br><br>

                순옥스타_정렬<br>
                <label><input type="checkbox" name="sort_register" value="order_register"> 최신등록순</label>
                <label><input type="checkbox" name="sort_recommend" value="recommend"> 추천순</label>
                <label><input type="checkbox" name="sort_s_count" value="s_count"> S카운트순</label> <br><br>
      
                셀럽검색<br>
                <label><input type="checkbox" name="sort_realtime" value="order_realtime"> 실베스타</label>
                <label><input type="checkbox" name="sort_read" value="read"> 열람횟수</label> <br><br>


                <input type="checkbox" name="btn_echar" style="background-color: #344675; color: #ffffff;" />셀럽 섹션<br><br>

                <div  class="check-list_echar"  style="display:none;  ">
                  <ul >
                    <li><input type="checkbox" />전체</li>
                    <li><input type="checkbox" />가수</li>
                    <li><input type="checkbox" />연기자</li>
                    <li><input type="checkbox" />아이돌</li>
                    <li><input type="checkbox" />예능인</li>
                    <li><input type="checkbox" />방송인</li>
                    <li><input type="checkbox" />유명인</li>
                    <li><input type="checkbox" />셀럽유튜버</li>
                  </ul>
                </div>

              </div>
              <button class="btn btn-outline-success" type="submit">Search</button>

              

              <br><br><br><br><br><br>
        </form>
           
        </ul>
        
      </div>
    </div>

   