    <div class="sidebar" >
      <div class="sidebar-wrapper">
        <div class="logo">
       
          <a href = '/'>
            <label class="simple-text logo-normal"> Mobile TMS</label>
          </a>
        </div>

        <form method="get" action="/p" style="padding-left: 20px;">

              
              
          
          <div style="height:4rem; padding-top: 0.7rem;">

            <ul class="nav" style = 'width : 100%;' >

              <p style="color: #ffffff;">프로젝트명</p>
              <input class="form-control me-2" style = 'border-color: #ffffff; width: 80%' id="autocompletes" name="project_name" type="search" placeholder="프로젝트명"><br>

              <p style="color: #ffffff;">담당팀</p>
              <select name="rd_team" id="rd_team" value="rd_team" style="width:80%; border: 1px solid #cad1d7; background-color: transparent; color: #ffffff;" >

                <script>
                  {% set teams = ['전체', 'C1-1', 'C1-2', 'C2-1', 'C2-2', 'C3-1', 'C3-2', 'C3-3', 'C4-1', 'C4-2', 'C5-1', 'C5-2', 'C6-1', 'C6-2', 'G1', 'IP', 'INFL', 'PPL', 'DRAMA', '뮤즈A', '뮤즈B', '레디차이나', '', '명유미', '이순옥', '조선아', '문인옥', '김다애', '신디', '서동혁', '', '구기운', '최영상', 'KOO최' ] %}
                 
                </script>

                {% for team in teams %}
                  <option value = "{{team}}"> {{team}} </option>
                {% endfor%}
              </select>
              <br><br>
              <p style="color: #ffffff;">광고인</p>
              <input class="form-control me-2" style = 'border-color: #ffffff; width: 80%' id="autocompletes" name="cf_owner" type="search" placeholder="광고인"><br>

              <p style="color: #ffffff;">등록년도</p>
              <input class="form-control me-2" style = 'border-color: #ffffff; width: 80%' id="autocompletes" name="cf_regdate" type="search" placeholder="2022"><br>

              <label style="padding: 5px; color: #ffffff;"><input type="radio" name="isceleb" value="" checked="checked"> 전체</label>
              <label style="padding: 5px; color: #ffffff;"><input type="radio" name="isceleb" value="V"> 셀럽건</label>
              <label style="padding: 5px; color: #ffffff;"><input type="radio" name="isceleb" value="n"> 모델건</label> <br>



              <br>
              <p style="color: #ffffff; font-size: 0.75rem; line-height:18px;" ><b>레디 진행 이력 검색</b></p>
              <p style="color: #ffffff; font-size: 0.75rem; line-height:18px;"><b>소속사</b></p>
              <input class="form-control me-2" style = 'border-color: #ffffff; width: 80%' id="autocompletes" name="entertainment" type="search" placeholder="레디 진행이력 검색할 소속사"><br>


            </ul>

            
            <br><br>

          <button class="btn btn-outline-success" type="submit" name="detail_search"  value="detail_search" style="margin-top: 2rem;">Search</button>
        </div>
          

          <br><br><br><br>
    </form>
        
        
      </div>
    </div>

   