
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
       
          <a href = '/'>
            <label class="simple-text logo-normal"> Mobile TMS</label>
          </a>
        </div>

        <ul class="nav">
          <li class="{% if 'index' in segment %} active {% endif %}">

            <form method="GET" action="/filter">

              <li>
              검색 기간<br>
              <input type='date' name='s_date' id='date1' value='2022-02-01'/>
              <input type='date' name='e_date' id='date2' value='2022-05-01'/><br><br>
              </li>
              성별<br>
              <label><input type="checkbox" name="gender_m" value="man" checked> 남자</label>
              <label><input type="checkbox" name="gender_w" value="woman" checked> 여자</label> <br><br>
            
              구분<br>
              <label><input type="checkbox" name="model" value="not_tc"> 모델</label>
              <label><input type="checkbox" name="celeb" value="tc"> 셀럽</label> <br><br>

            
              <label> 알파모델료</label><br>
              <input type="text" name="alpha_s_fee" value = 0 style="width:40px"> ~ <input type="text" name="alpha_e_fee" value = 600 style="width:40px"><br><br>
              <label> 셀럽 모델료</label> <br>
              <input type="text" name="s_fee" value = 0.0 style="width:40px"> ~ <input type="text" name="e_fee" value = 5 style="width:40px"><br>
              <br><br>

              연령<br>
              <select name="s_age" id="s_age" value="s_age">
                {% for year in years %}
                  <option value = "{{year}}"> {{now_year - year + 1}}세({{year}}년)</option>
                {% endfor%}
              </select> ~ <select name="e_age" id="e_age" value="e_age">
                {% for year in years %}
                  
                  <option value = "{{year}}"> {{now_year - year + 1}}세({{year}}년)</option>
                  
                {% endfor%}
              </select>
              <br> <br>
              추천<br>
              이미지 <input type="text" name="s_img" value = 0 style="width:40px"> <input type="text" name="e_img" value = 30 style="width:40px"><br>
              호감도 <input type="text" name="s_fav" value = 0 style="width:40px"> <input type="text" name="e_fav"  value = 30 style="width:40px"><br>
              연기력 <input type="text" name="s_act" value = 0 style="width:40px"> <input type="text" name="e_act" value = 30  style="width:40px"> 
             <br><br>
              정렬<br>
              <label><input type="checkbox" name="sort_thrdays" value="thrdays"> 30일추천</label>
              <label><input type="checkbox" name="sort_movchoi" value="movchoi"> 영상초이</label>
              <label><input type="checkbox" name="sort_proc" value="proc"> 프로카운트</label> <br><br>
              순옥스타_정렬<br>
              <label><input type="checkbox" name="sort_register" value="order_register"> 최신등록순</label>
              <label><input type="checkbox" name="sort_recommend" value="recommend"> 추천순</label>
              <label><input type="checkbox" name="sort_s_count" value="s_count"> S카운트순</label> <br><br>
     
              셀럽검색<br>
              <label><input type="checkbox" name="sort_realtime" value="order_realtime"> 실베스타</label>
              <label><input type="checkbox" name="sort_read" value="read"> 열람횟수</label> <br><br>

              
              <input class="form-control me-2" id="autocomplete" name="query" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>

              <br><br><br><br><br><br>
        </form>
           
        </ul>
        
      </div>
    </div>

   