<div class="card" style="width: 7.6rem; height: 12rem; padding-right: 18px; margin-right: auto; margin-left: auto;">

  <div class="rounded border border-warning" style="height: 300px">
    <h5 class="card-title">{{ obj.name }}</h5>
    <h5 class="card-title">{{ obj.gender }} / {{ obj.age }} / {{obj.height}}</h5>
    {%if obj.coname%}
      <p class="card-text">소속사 : {{ obj.coname }}</p>
    {% else %}
      <p class="card-text">소속사 : - </p>
    {% endif %}
    <p class="card-text">모델료 : {{ obj.mfee }}</p>

    <div style= "position: absolute; top: 88%; left:15%;" >
    <p style= 'width: 100%'><a href="/detail/{{obj.mcode}}" style="color: #ffffff; background-color: #0098f0; border-color: #0098f0; width: 100%;">세부 정보</a>
    </p></div>
  </div>
</div>
