<div class="card" style="width: 7rem; height: 16rem; padding-right: 18px; margin-right: auto; margin-left: auto;">
  <a href="/detail/{{obj.mcode}}" >
    <div class="rounded border " style="height: 270px; border-color: #ffffff">
      
        <img  src="http://pic2.readymodel.kr/mdpic/{{obj.mcode[0:3]}}/{{obj.mcode[0:4]}}/{{obj.mcode}}/sys_photo/model.jpg" style="width:120px; height:120px">
      
      
      {%if '(' in obj.name%}
        <h5 class="card-text">이름 : {{ obj.name.split('(')[0] }}</h5>
      {% else %}
        <h5 class="card-text">이름 : {{ obj.name }} </h5>
      {% endif %}

      <h5 class="card-title"> {{ obj.age }} / {{ obj.gender }} / {{obj.height}}</h5>
      {%if obj.coname%}
        <h5 class="card-text">소속사 : {{ obj.coname }}</h5>
      {% else %}
        <h5 class="card-text">소속사 : - </h5>
      {% endif %}

      {%if obj.mfee%}
      <h5 class="card-text">모델료 : {{ obj.mfee }}</h5>
      {% else %}
      <h5 class="card-text">모델료 : - </h5>
      {% endif %}


      <div style= "position: absolute; top: 88%; left:15%;" >
      <p style= 'width: 100%'>
      </p></div>
    </div>
  </a>
</div>
