<div class="card" style="width: 6.8rem; height: 16rem; padding-right: 10px; margin-right: auto; margin-left: auto;">
  <a href="/detail/{{obj.mcode}}" >
    <div class="rounded border " style="height: 270px; border-color: #ffffff">
      
      <img  src="http://pic2.readymodel.kr/mdpic/{{obj.mcode[0:3]}}/{{obj.mcode[0:4]}}/{{obj.mcode}}/sys_photo/model.jpg"  style="width:120px; height:120px">
      
      {%if '(' in obj.name%}
        <h5 class="card-text" style="margin-bottom:0px; color:burlywood">이름</h5> <h6 style="margin-bottom:3px;">{{ obj.name.split('(')[0] }}</h6>
      {% else %}
        <h5 class="card-text" style="margin-bottom:0px; color:burlywood">이름</h5> <h6 style="margin-bottom:3px;"> {{ obj.name }} </h6>
      {% endif %}
      
      <h5 class="card-text" style="margin-bottom:0px; color:burlywood">정보</h5>
      <h6 class="card-title" style="margin-bottom:3px;">{{ obj.age }} / {{ obj.gender }} / {{obj.height}}</h6>

      <h5 class="card-text" style="margin-bottom:0px; color:burlywood"> 모델료</h5>
      <h6 class="card-text">{{ obj.a_3 }} / {{ obj.a_6 }}/ {{ obj.a_12 }}</h6>

      <div style= "position: absolute; top: 88%;  width: 100%;" >
      <!-- <p style= 'width: 100%;'><a href="/detail/{{obj.mcode}}" style=" color: #ffffff; background-color: #0098f0; border-color: #0098f0; width: 100%;">세부 정보</a> -->
      </p></div>
    </div>
  </a>

</div>
