{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <style>
   

    @media (max-width: 600px) {
      .table-width {
        width: 500px;
        overflow-x:auto;
        white-space:nowrap;
        margin:0 auto
      }
    }

    @media (max-width: 420px) {
      .table-width {
        width: 300px;
        overflow-x:auto;
        white-space:nowrap;
        margin:0 auto
      }
    }

    
  </style>

{% endblock stylesheets %}
  
{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-bodys">
        <!-- 이름, 모델키워드, 나이, 키, 성별, 소속사, 연락처, 개인연락처, 인스타, 경력사항, 포인트, 모델료, 메일, 신체사이즈, 학교, 국적, 통화메모 -->
       
        <form>
          <h4> 영상 정보 </h4>
          <div class="rows">
          
            {% if text %}
              <h3>{{text}}</h3>
            {% else %}
              {%for str in mov %}
                {%if 'AA영상' in str.fpath%}
                  <a href="http://pic2.readymodel.kr/mdpic/{{str.mcode[0:3]}}/{{str.mcode[0:4]}}/{{str.mcode}}/AA영상/{{str.fname}}">  {{str.fname}} </a> <br><br>
                {%elif 'AA연기' in str.fpath%}
                  <a href="http://pic2.readymodel.kr/mdpic/{{str.mcode[0:3]}}/{{str.mcode[0:4]}}/{{str.mcode}}/AA연기영상/{{str.fname}}">  {{str.fname}} </a> <br><br>
                {%elif 'AA광고' in str.fpath%}
                  <a href="http://pic2.readymodel.kr/mdpic/{{str.mcode[0:3]}}/{{str.mcode[0:4]}}/{{str.mcode}}/AA광고영상/{{str.fname}}">  {{str.fname}} </a> <br><br>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>
        
          
        </form>
      </div>
     <!-- <div class="card-footer">
        <button type="submit" class="btn btn-fill btn-info">Save</button>
      </div> -->
    </div>
  </div>


  
</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
