{% extends "layouts/base-project.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  

{% endblock stylesheets %}

{% block content %}

<div class="row">
  
      
  <div style="position: relative; padding-right: 10px; padding-left: 5px; flex: auto; min-width: 110px;">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title" style="font-size: 1.3rem;"><b> {{entertainment}}-Ready 진행했던 프로젝트 </b></h4>
        <!-- <p class="category"> 등록된 프로젝트입니다.</p> -->
      </div>
      <div class="card-bodys" style="padding: 0.5rem;">
        <div class="table-responsive" >
          <table class="table tablesorters " style="width: 200%" id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  모델
                </th>
                <th>
                  프로젝트
                </th>
                <th>
                  촬영일
                </th>
                <th>
                  청구액
                </th>
                <th>
                  모델료
                </th>
                <th>
                  수수료
                </th>
                
                
                <th>
                  계약일
                </th>
                <th>
                  종료일
                </th>
                <th class="text-center">
                  개월
                </th>
                <th class="text-center">
                  비고
                </th>
              </tr>
            </thead>
            <tbody>

              {% for project in entertainment_project %}
                <tr>
                  <td style="font-size: 0.8rem; " >
                    <p style="color: #f3f3f3; font-size: 0.75rem;"><b>{{project.mname}}</b></p>
                  </td>

                  <td style="font-size: 0.8rem; width: 300px;">
                    {{project.poom}}
                  </td>

                  <td style="font-size: 0.8rem; ">
                    {{project.cdate}}
                  </td>

                  <td style="font-size: 0.8rem; ;">
                    {{project.chunggu}}
                  </td>

                  <td style="font-size: 0.8rem; ">
                    {{project.modelfee}}
                  </td>

                  <td style="font-size: 0.8rem;">
                    {{project.susu}}
                  </td>

                  <td style="font-size: 0.8rem;">
                    {{project.geyakdate}}
                  </td>

                  <td style="font-size: 0.8rem; ">
                    {{project.enddate}}
                  </td>


                  <td style="font-size: 0.8rem;" >
                    {{project.geyakm}}
                  </td>

                  <td style="font-size: 0.8rem;  width: 500px;">
                    {{project.etc}}
                  </td>

                </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
