{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <style>
   

    @media (max-width: 600px) {
      .table-width {
        width: 500px;
        overflow-x:auto;
        white-space:nowrap;
        margin:0 auto
      }
    }

    @media (max-width: 420px) {
      .table-width {
        width: 300px;
        overflow-x:auto;
        white-space:nowrap;
        margin:0 auto
      }
    }

    
  </style>

{% endblock stylesheets %}
  
{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-bodys">
        <form>
          <h4> 모델정보 </h4>
          <div class="row">
            <div style="position: relative; padding-right: 15px; padding-left: 15px; min-width: 110px; margin: 3px;"> 
            <!-- <div class="col-md-8 pr-md-1"> --> 

              <div class="form-group">
                <label>이름 </label> <h5 >{{item.name}}</h5> 
                <img class="avatar" src="http://pic2.readymodel.kr/mdpic/{{item.codesys[0:3]}}/{{item.codesys[0:4]}}/{{item.codesys}}/sys_photo/model.jpg" style="width:90px; height:90px">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <h5><label>성별 </label> {{item.sex}}</h5> <p>  <h5> <label>나이 </label>  {{item.age}}</h5> <h5> <label>키 </label>  {{item.height}}</h5> <h5> <label>소속사</label>  {{item.coname}}</h5>
              </div>
            </div>
            <div class="col-md-12 pl-md-1">
            <hr color = 'white' size='7px' width='100%' align='left'> 

              <label >모델료</label>
              <div class="form-group">
                <h5>{{item.a_3}} / {{item.a_6}} / {{item.a_12}}</h5>
              </div>

              <hr color = 'white' size='7px' width='100%' align='left'> 
              <div class="form-group">
                  <label for="exampleInputEmail1">연락처</label>
                  {%if item.dam %}
                   <h5>{{item.dam}} : <a href="tel:{{item.tel1}}"> {{item.tel1}} </a></h5>
                   {%endif %}
                  {%if item.dam2 %}
                    <h5>{{item.dam2}} : <a href="tel:{{item.dam2tel}}"> {{item.dam2tel}} </a></h5>
                  {% endif %}
                  {%if item.dam3 %}

                    <h5>{{item.dam3}} : <a href="tel:{{item.dam3tel}}"> {{item.dam3tel}} </a></h5>
                  {% endif %}
                  {%if item.mail1 %}

                    <h5>이메일 : <a href="mailto:{{item.mail1}}"> {{item.mail1}} </a></h5>
                  {% endif %}
                  <div class="form-group">
                    <hr color = 'white' size='7px' width='100%' align='left'> 
                        <label for="exampleInputEmail1">인스타그램</label>
                      {%if item.sns2%}  
                        <h5> ID:  <a href="https://www.instagram.com/{{item.sns2}}/" > {{item.sns2}} </a>  / 팔로워:  <a href="https://www.instagram.com/{{item.sns2}}/" > {{item.insta_flw_str}} </a> </h5>
                      {% else %}
                        SNS 계정이 확인되지 않아요 :<
                      {% endif %}
                    
                  </div>
                  <hr color = 'white' size='7px' width='100%' align='left'> 
                  <label>포인트</label>
                    {%for str in item.point_str %}
                      <h5>  {{str}} </h5>
                    {% endfor %}
                  
                </div>
                
            </div>
          </div>
          <hr color = 'white' size='7px' width='100%' align='left'> 


          {% if celeb_cf %}
            {% set token = Fasle %}
            {% if not token %}
              
              <div >
                  <div class="form-check">
                    <label class="form-check-label"> 현재이력만
                      <h4 > 계약현황 </h4>
                      <input class="form-check-input" name='cf' type="checkbox" value="checked"  checked>
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>

                </label>
              </div>

              <div id = 'cf_' class = "table-width" >
                
                <table border="1"  >
                  <th>브랜드명</th>
                  <th>계약품목</th>
                  <th>기간</th>
                  <th>ON-AIR</th>
                  <th>계약중</th>
                  <th>불명</th>
                  <th>국가</th>
                  <th>입력자</th>
                  <th>입력일</th>

                  {% for cf in celeb_cf %}
                    {% if cf.dend == "" %}
                      <tr name = 'title' class = 'not_input' style = "display: none;" >
                    {% else %}
                      {% if ('?' in cf.dend) and (cf.dend < '2022.05.13')%}
                      <tr name = 'cf_brand' class = '{{cf.dend.replace("?", "_").replace(".", "")}}' id= '{{cf.dend.replace("?", "_").replace(".", "")}}' style = "display: none;" >
                      {% elif  cf.dend < '2022.05.13'%}
                        <tr name = 'cf_brand' class = '{{cf.dend.replace(".", "")}}' id= '{{cf.dend.replace(".", "")}}' style = "display: none;" >
                      {% else %}
                        <tr name = 'cf_brand' class = '{{cf.dend.replace(".", "")}}' id= '{{cf.dend.replace(".", "")}}'>
                      {% endif %}
                    {% endif %}

                        <td><h5>{{cf.brand}}</h5></td>
                        <td><h5>{{cf.poom}}</h5></td>
                        <td><h5>{{cf.imonth}}</h5></td>
                        <td><h5>{{cf.dstart}}</h5></td>
                        <td><h5>{{cf.dend}}</h5></td>
                        <td><h5>{{cf.indefin}}</h5></td>
                        <td><h5>{{cf.nation}}</h5></td>
                        <td><h5>{{cf.writer}}</h5></td>
                        <td><h5>{{cf.wrdate}}</h5></td> 

                      </tr>
                  {% endfor %}
                {%endif%}
              {%endif%}
            
                </table>
              </div>
            
              
              <!---------------------------------------------------------------------------------------------------------------->

              <hr color = 'white' size='7px' width='100%' align='left'> 

          <!-- 셀럽 활동현황 -->
          {% if celeb_activity %}
              
              <div >
                  <div class="form-check">
                    <label class="form-check-label"> 현재활동만
                      <h4 > 활동현황 </h4>
                      <input class="form-check-input" name='activities' type="checkbox" value="checked"  checked>
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>

                </label>
              </div>

              <div id = 'cf_' class = "table-width" >
                
                <table border="1"  >
                  <th>구분</th>
                  <th>소분류</th>
                  <th>프로그램명</th>
                  <th>시작일</th>
                  <th>종료일</th>
                  <th>입력자</th>
                  <th>입력일</th>
                 

                  {% for cf in celeb_activity %}
                    {% if cf.dend == "" %}
                      <tr name = 'title' class = 'not_input' style = "display: none;" >
                    {% else %}
                      {% if  cf.dend < '2022.05.13'%}
                        <tr name = 'title' class = '{{cf.dend.replace(".", "")}}' id= '{{cf.dend.replace(".", "")}}' style = "display: none;" >
                      {% else %}
                       <tr name = 'title' class = '{{cf.dend.replace(".", "")}}' id= '{{cf.dend.replace(".", "")}}'>
                      {% endif %}    
                    {%endif%}
                        <td><h5>{{cf.gubun}}</h5></td>
                        <td><h5>{{cf.gubun2}}</h5></td>
                        <td><h5>{{cf.title}}</h5></td>
                        <td><h5>{{cf.dstart}}</h5></td>
                        <td><h5>{{cf.dend}}</h5></td>
                        <td><h5>{{cf.writer}}</h5></td>
                        <td><h5>{{cf.wrdate}}</h5></td> 

                      </tr>
                  {% endfor %}
                {%endif%}
            
                </table>
              </div>

              <!---------------------------------------------------------------------------------------------------------------->

              <hr color = 'white' size='7px' width='80%' align='left'> 

          <!-- 셀럽 통화메모 -->
          {% if celeb_calls %}
              
              <div class="form-check">
                <label class="form-check-label"> 
                  <h4 > 통화메모 </h4>
                </label>
              </div>

              <div style="float:left;">
                {%for call in celeb_calls %}
                  <input type='button' class = 'call_title' id='{{call.rcode}}' name= 'call_title' value={{call.title}}/>
                {% endfor %}

              </div><br><br>

              {%for call in celeb_calls %}
                
                {% set token = call.memo %}
                  <div class = "{{call.rcode}}" style = 'display : none;'>
                    {%for call in token %}
                      {% if (call[0:3] == '202' or call[0:3] == '201') and (call[4] == '.') and (call[7] == '.') %}
                        <br>
                        <h5 style=" font:  bold 1.2em/1em Georgia;">{{call}}</h5>
                      {% else %}
                        <h5>{{call}}</h5> 
                      {% endif %}
                     
                    {% endfor %}

                    
                    
                  </div>
              {% endfor %}
              
                 

          {%endif%}

          <img  src="http://pic2.readymodel.kr/mdpic/{{item.codesys[0:3]}}/{{item.codesys[0:4]}}/{{item.codesys}}/sys_photo/pic.jpg" style="width:100%;">
        </div>
                       
     
  </div>


  
</div>

 
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
