{% extends "layouts/base-project.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  
      
  <div style="position: relative; padding-right: 10px; padding-left: 5px; flex: auto; min-width: 110px;">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title" style="font-size: 1.5rem;"> 프로젝트 </h4>{{a_project[:]  | length}}개
        <!-- <p class="category"> 등록된 프로젝트입니다.</p> -->
      </div>
      <div class="card-bodys" style="padding: 0.5rem;">
        <div class="table-responsive" >
          <table class="table tablesorter "  id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  등록일
                </th>
                <th>
                  프로젝트명 
                </th>
                <th>
                  광고주
                </th>
                <th class="text-center">
                  광고회사
                </th>
                <th>
                  온에어
                </th>
              </tr>
            </thead>
            <tbody >

              {% for project in a_project[:] %}
                <tr>
                  <td style="font-size: 0.8rem; padding-right: 0px;" >
                    <p style="color: #f3f3f3; font-size: 0.75rem;"><b>{{project.date}}</b></p>

                    <p style="color: #f3f3f3; font-size: 0.7rem;"><b>{{project.teamtag}}</b></p>

                    {% if project.seleb == 'V' %}
                      <p style="color: #f15050;"><b>셀럽</b></p>
                    {% endif %}
                  
                  </td>


                  <td style="font-size: 0.8rem;">
                    <a href='/p/{{project.code}}' target="_blank" style="font-size: 0.8rem; color: #ffffff;  text-align: center;"><b>{{project.prname}} </b></a>
                  </td>


                  <td style="font-size: 0.8rem; padding-right: 2px;  text-align: center;">
                    {{project.cfowner}}
                  </td>
                  
                  <td class="text-center" style="font-size: 0.8rem; padding-left: 1px;  text-align: center;">
                    {{project.cfco}}
                  </td>

                  
                    <td style="font-size: 0.8rem; padding-right: 2px; text-align: center;">
                      {% if project.onairck %}
                        {{project.onairck}}
                      {% else %}
                        -
                      {%endif%}
                    </td>
                  
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
