{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row" >
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="margin-right: -57px; display:flex; flex-wrap:wrap; margin-left:-10px">
        <h5 class="title">모델 검색 결과</h5>
      </div>
      <div class="card-bodys all-icons" style=" width:100%">
        <div class="rows" style="margin-right: -57px; display:flex; flex-wrap:wrap; margin-left:-10px">
          {% if no_result %}
           <div><h5> {{no_result}} </h5></div>
            <br><h5 class="title"> {{alert}} </h5>
          {% endif %} 

          {% for job in jobs %}
				
          <div class="">
            {% with obj=job %}
              {% include 'components/card.html' %}
            {% endwith %}
              </div>
            {% else %}
              </div></div><br><div class="row">
          {% endfor %}

         
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
