{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

  <style>
    @media (max-width: 360px) {
      #tmp {
        padding-right: 0px;
        padding-left: 0px
        
      }

     
    }

    @media (max-width: 400px) {

      #model_card {
        width:6.6rem;
        
      }
    }

    @media (min-width: 420px) {

      #model_card {
        width:7.2rem;
        
      }
    }

    
   

  </style>
{% endblock stylesheets %}

{% block content %}

<div class="row" >
  <div class="col-md-12" id="tmp" >
    <div class="card">
      <div class="card-header" style="margin-right: -10%; display:flex; flex-wrap:wrap; margin-left:-10px">
        <h5 class="title">모델 검색 결과</h5>
      </div>
      <div class="card-bodys all-icons" style=" width:99%">
        <div class="rows" style="margin-right: -10%; display:flex; flex-wrap:wrap; margin-left:0px">
          {% if no_result %}
           <div><h5> {{no_result}} </h5></div>
          {% endif %} 

          {% if jobs %}
            {% for job in jobs %}
          
            <div id='model_card' >
              {% with obj=job %}
                <!-- IF job에 gubun이라는 키가 존재하지 않을 때.-->
                {% if obj.isyeon == 'V' %}
                  {% include 'components/card_celeb.html' %}
                {% else %}
                  {% include 'components/card_model.html' %}

                <!-- 이 자리에 else 문 하나 끼워 넣어서 job.gubun이 뭐 일때로 나눈다.-->            
                {% endif %}

              {% endwith %}
                </div>
            {% endfor %}
         
          {% endif %}

                

              </div></div><br><div class="row">

         
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
